<!-- HEADER SECTION -->
<!-- NAVBAR ALONG WITH THE ROUTER LINKS-->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Active.Ai</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- MAPPING ROUTE -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/mapping">Mapping</a>
        </li>
        <!-- SOURCE ROUTE -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/source">Source</a>
        </li>
        <!-- TEST ROUTE -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/test">Test</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- END OF HEADER SECTION -->
<div class="container-fluid">
  <!-- COMPONENT OUTLET -->
  <router-outlet></router-outlet>
</div>
